#chart-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background: #2f2f2f;
  padding: 20px;
  margin: 10px 30px;
}
#chart-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}


