.container{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background: #2f2f2f;
    padding: 20px;
    margin: 30px;
}

.container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
}
h4{
    text-align: center;
}
