body {
  background: #606060;
}

.main_container {
  justify-content: center;
}

h1 {
  text-align: center;
  color: rgb(180, 180, 180);
}

#chart {
  width: 70%;
  border-radius: 10px;
  background: rgb(230, 230, 230);
}
h4{
  text-align: center;
}
